//colors
$black: #2d2d2d;
$white: #ffffff;
$green: #009379;
$red: #ff6250;
$pink: #f3afa8;
$grey: #f3f3f3;
$yellow: #f7d684;
$blackT: #8f8d8d;
//variables
$main-transition: all 0.3s;
$second-transition: all 1s;
//skills
$html: #e44d27;
$css: #1f62ae;
$sass: #cf649a;
$js: #f0db4f;
$react: #61dafb;
